.logo {
    background:url("/photos/logo_big.png");
    background-size: cover;
    width:110px;
    height: 110px;
    border-radius: 50%;
    margin:0 auto;
    position: absolute;
	top: -5%;
	left: -160%;
    box-shadow:
    /* logo shadow */
    0px 0px 2px blue,
    /* offset */
    0px 0px 0px 5px #24cfaa,
    /*bottom right */
    8px 8px 15px #a7aaaf,
    /* top left */
    -8px -8px 15px #ffffff
    ;

}
a:link {
color: white;
background-color: transparent;
text-decoration: none;

}
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: white;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}/* Remove default bullets */

ul, #myUL {
list-style-type: none;
color: white;

}

/* Remove margins and padding from the parent ul */
#myUL {
margin: 0;
padding: 0;
color: white;
}

/* Style the caret/arrow */
.caret {
cursor: pointer;
user-select: none; /* Prevent text selection */
color:  white
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
content: "\25B6";
color: white;
display: inline-block;
margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
transform: rotate(90deg);
color: white;
}

/* Hide the nested list */
.nested {
display: none;
color: white;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
display: block;
}
